/**************************/
/* BELOW 2000px (DESKTOPS)*/
/**************************/
@media (max-width: 125em) {
  html {
    font-size: 70%;
  }

  .title h1 {
    font-size: 6.2rem;
  }

  .forecast-box {
    gap: 4rem;
    padding: 3rem 7rem;
  }

  .forecast {
    max-height: 45rem;
  }

  .forecast__face--back h2 {
    font-size: 2.4rem;
  }

  .details-box span {
    font-size: 1.6rem;
  }

  .search {
    gap: 1.6rem;
  }

  .search input {
    height: 4.6rem;
  }

  .btn-controls {
    flex: 1 0 4.6rem;
    height: 4.6rem;
    width: 4.6rem;
  }

  .icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}

/**************************/
/* BELOW 1696PX (DESKTOPS)*/
/**************************/

@media (max-width: 106em) {
  .forecast__face--back h2 {
    font-size: 2.2rem;
  }

  .details-box span {
    font-size: 1.4rem;
  }
}

@media (max-width: 100em) {
  html {
    font-size: 62.5%;
  }

  .title h1 {
    font-size: 5rem;
  }

  .forecast-box {
    gap: 4rem;
    padding: 3rem 7rem;
  }

  .forecast {
    max-height: 45rem;
  }

  .search {
    gap: 1rem;
  }

  .search input {
    height: 3.6rem;
  }

  .btn-controls {
    flex: 1 0 3.6rem;
    height: 3.6rem;
    width: 3.6rem;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }

  .forecast-date {
    font-size: 2.2rem;
  }

  .forecast__face--back h2 {
    font-size: 2.2rem;
  }

  .details-box span {
    font-size: 1.2rem;
  }
}

/**************************/
/* BELOW 1280PX (SMALL DESKTOPS)*/
/**************************/

@media (max-width: 80em) {
  html {
    font-size: 56.25%;
  }

  .forecast-box {
    gap: 3.6rem;
    padding: 3rem 4rem;
  }
}

/**************************/
/* BELOW 1104px (LANDSCAPE TABLETS) */
/**************************/

@media (max-width: 69em) {
  .title h1 {
    font-size: 4.6rem;
  }

  .search {
    width: 40%;
  }

  .search input {
    font-size: 1.4rem;
  }
}

/**************************/
/* BELOW 800px (TABLETS) */
/**************************/

@media (max-width: 50em) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title h1 {
    font-size: 3.8rem;
  }

  .search {
    width: 45%;
  }

  .forecast {
    max-height: 40rem;
  }

  .forecast__face--back h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .details-box span {
    font-size: 1.4rem;
  }

  .forecast-date {
    font-size: 2.4rem;
  }

  .search input {
    font-size: 1.2rem;
  }

  .title {
    min-height: 10rem;
  }

  .forecast {
    min-height: 45rem;
    width: 30rem;
  }

  .error-container {
    max-height: 35rem;
  }

  .container {
    margin: auto 0;
    height: 100%;
  }

  .footer {
    min-height: 7rem;
    padding: 2rem 0;
  }

  main {
    flex: 1 1 20rem;
  }

  .loader-wrapper {
    min-height: 30rem;
  }

  .forecast-box {
    perspective: 300rem;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    perspective: none;
    position: relative;
  }

  .footer {
    padding: 5rem 0;
  }

  .footer div {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }

  .footer .bar {
    margin-right: 0;
    display: none;
  }

  .footer-logo {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 2px;
  }
}

/**************************/
/* BELOW 624px (SMALL TABLETS) */
/**************************/

@media (max-width: 39em) {
  .title h1 {
    font-size: 3.6rem;
  }

  .title {
    display: grid;
    grid-template-columns: 1fr;
    height: min-content;
  }

  .title-box {
    justify-self: center;
  }

  .search {
    justify-self: center;

    width: 30rem;
    margin-top: 2rem;
  }

  .search input {
    font-size: 1rem;
  }

  .error-container {
    width: auto;
    padding: 2.6rem;
    flex-direction: column;
  }
  .message-container h1 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  .message-container p {
    font-size: 1.2rem;
  }

  .error-image {
    width: 35vw;
    height: auto;
    margin-right: 0;
  }
}

/**************************/
/* BELOW 352px (PHONES) */
/**************************/

@media (max-width: 22em) {
  .title h1 {
    font-size: 3.1rem;
  }

  .search {
    width: 27rem;
    margin-top: 2rem;
  }

  .forecast {
    min-height: 40rem;
    width: 25rem;
  }

  .error-image {
    width: 40vw;
  }

  .message-container h1 {
    font-size: 1.6rem;
  }

  .message-container p {
    font-size: 1rem;
  }

  .footer div {
    font-size: 1rem;
  }
}
